hackathon/n_body/input/*.dcd
hackathon/n_body/serial/*.dat
hackathon/n_body/serial/rdf
hackathon/n_body/serial/*.nsys-rep
hackathon/n_body/serial/*.sqlite
jacobi/*.o
jacobi/laplace
hackathon/n_body/serial/*.qdstrm
hackathon/*.log
hackathon/n_body/*.log
